In [1]:
import pandas as pd
file_name_inflac = "/content/drive/MyDrive/Colab Notebooks/Proyecto AprendAutom/Inflacion (ipcn)-Preprocesado.xlsx"
df_inflac = pd.read_excel(file_name_inflac)

# eliminar la ultima fila
df_inflac = df_inflac.iloc[:-1]
df_inflac.dtypes

Año                 int64
Mes                 int64
Indice general    float64
dtype: object

In [8]:
file_name_Producc = "/content/drive/MyDrive/Colab Notebooks/Proyecto AprendAutom/Produccion_Industrial-Preprocesado.xlsx"
df_prod = pd.read_excel(file_name_Producc)
df_prod.head()

,Año,Mes,Total,Aireacondicionado,Celulares,Microondas,Televisor,Mod Electr Autom
0,2013,Ene,1260521,77671,609990,38094,136796,23797
1,2013,Feb,1559546,90403,703500,32936,207715,26602
2,2013,Mar,1935759,115115,918733,62302,288394,36371
3,2013,Apr,2072806,78426,1083534,46865,268295,39229
4,2013,May,2538083,108772,1293334,63549,320475,48379

In [16]:
file_name_Dolar = "/content/drive/MyDrive/Colab Notebooks/Proyecto AprendAutom/cotizacion_dolar-Preprocesado.xlsx"
df_dolar = pd.read_excel(file_name_Dolar)
df_dolar.rename(columns={'Año': 'AÑO'}, inplace=True)
df_dolar
#eliminar las ultimas 2 filas
df_dolar = df_dolar.iloc[:-2]
df_dolar.dtypes

AÑO             int64
Mes            object
Num_Mes         int64
Cotizacion    float64
dtype: object

Hasta aca cargo solo los 3 datasets

In [17]:
df_concat=pd.concat([df_inflac,df_prod,df_dolar], axis=1)
df_concat

,Año,Mes,Indice general,Año,Mes,Total,Aireacondicionado,Celulares,Microondas,Televisor,Mod Electr Autom,AÑO,Mes,Num_Mes,Cotizacion
0,2013,1,1.02,2013,Ene,1260521,77671,609990,38094,136796,23797,2013,ENE,1,4.96
1,2013,2,1.06,2013,Feb,1559546,90403,703500,32936,207715,26602,2013,FEB,2,5.02
2,2013,3,1.01,2013,Mar,1935759,115115,918733,62302,288394,36371,2013,MAR,3,5.10
3,2013,4,0.96,2013,Apr,2072806,78426,1083534,46865,268295,39229,2013,ABR,4,5.16
4,2013,5,1.26,2013,May,2538083,108772,1293334,63549,320475,48379,2013,MAY,5,5.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,2024,11,2.43,2024,Nov*,1260593,198554,716903,18428,247424,37837,2024,NOV,11,991.00
143,2024,12,2.70,2024,Dic*,1099022,216260,633913,17519,189205,17606,2024,DIC,12,1012.50
144,2025,1,2.21,2025,Ene*,773676,102142,393358,16859,196924,28338,2025,ENE,1,1033.50
145,2025,2,2.40,2025,Feb*,935562,67686,557773,1140,230022,40067,2025,FEB,2,1044.25
146,2025,3,3.73,2025,Mar*,887363,51056,545686,97,228300,18566,2025,MAR,3,1053.50

In [18]:
# mostrar nombre de columnas
df_concat.columns

Index(['Año', 'Mes', 'Indice general', 'Año', 'Mes', 'Total',
       'Aireacondicionado', 'Celulares', 'Microondas', 'Televisor',
       'Mod Electr Autom', 'AÑO', 'Mes', 'Num_Mes', 'Cotizacion'],
      dtype='object')

In [20]:
# Dataset final
df_final=df_concat.loc[:,['AÑO', 'Num_Mes', 'Indice general',  'Cotizacion',
       'Aireacondicionado', 'Celulares', 'Microondas', 'Televisor',
       'Mod Electr Autom']]
df_final

,AÑO,Num_Mes,Indice general,Cotizacion,Aireacondicionado,Celulares,Microondas,Televisor,Mod Electr Autom
0,2013,1,1.02,4.96,77671,609990,38094,136796,23797
1,2013,2,1.06,5.02,90403,703500,32936,207715,26602
2,2013,3,1.01,5.10,115115,918733,62302,288394,36371
3,2013,4,0.96,5.16,78426,1083534,46865,268295,39229
4,2013,5,1.26,5.26,108772,1293334,63549,320475,48379
...,...,...,...,...,...,...,...,...,...
142,2024,11,2.43,991.00,198554,716903,18428,247424,37837
143,2024,12,2.70,1012.50,216260,633913,17519,189205,17606
144,2025,1,2.21,1033.50,102142,393358,16859,196924,28338
145,2025,2,2.40,1044.25,67686,557773,1140,230022,40067
146,2025,3,3.73,1053.50,51056,545686,97,228300,18566

In [32]:
# guardar dataframe en excel
df_final.to_excel('Dataset Final.xlsx', index=False)

In [21]:
df_final.dtypes

AÑO                    int64
Num_Mes                int64
Indice general       float64
Cotizacion           float64
Aireacondicionado      int64
Celulares              int64
Microondas             int64
Televisor              int64
Mod Electr Autom       int64
dtype: object

In [24]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AÑO                147 non-null    int64
 1   Num_Mes            147 non-null    int64
 2   Indice general     147 non-null    float64
 3   Cotizacion         147 non-null    float64
 4   Aireacondicionado  147 non-null    int64
 5   Celulares          147 non-null    int64
 6   Microondas         147 non-null    int64
 7   Televisor          147 non-null    int64
 8   Mod Electr Autom   147 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 10.5 KB

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
from math import sqrt
import warnings

warnings.filterwarnings('ignore') # Para ignorar advertencias de fechas futuras con pd.to_datetime

# df_final['Fecha'] = pd.to_datetime(df_final['Año'].astype(str) + '-' + df_final['Mes'].astype(str) + '-01')
# df_final = df_final.set_index('Fecha')
# df_final = df_final.sort_index()



# --- PASO 1: Crear un índice de tiempo ---
df_final['Fecha'] = pd.to_datetime(df_final['AÑO'].astype(str) + '-' + df_final['Num_Mes'].astype(str) + '-01')
df_final = df_final.set_index('Fecha')
df_final = df_final.sort_index()

print("--- df_final con DatetimeIndex y ordenado (¡sin NaN en datos históricos!) ---")
print(df_final.info())
print(df_final.head())
print(df_final.tail())
print("\n" + "="*80 + "\n")

# --- PASO 2: Remuestrear a frecuencia trimestral ---
# Ahora que sabemos que no hay NaNs en las series mensuales originales (excepto el objetivo),
# el remuestreo de Inflacion y Dolar debería ser limpio.
df_final_trimestral = df_final.resample('QS').agg({
    'Aireacondicionado': 'sum',
    'Indice general': 'mean',
    'Cotizacion': 'mean'
})

print("\n--- df_final_trimestral (limpio en exógenas, NaN en objetivo futuro) ---")
print(df_final_trimestral.info())
print(df_final_trimestral.head())
print(df_final_trimestral.tail())
print(f"NaNs en Aireacondicionado (después de remuestreo): {df_final_trimestral['Aireacondicionado'].isna().sum()}")
print(f"NaNs en Inflacion_Indice (después de remuestreo): {df_final_trimestral['Indice general'].isna().sum()}")
print(f"NaNs en Cotizacion_Dolar (después de remuestreo): {df_final_trimestral['Cotizacion'].isna().sum()}")
print("\n" + "="*80 + "\n")

# --- PASO 3: Manejo de NaN (solo para la variable objetivo 'Aireacondicionado' en el futuro) ---
# Las otras columnas ya sabemos que no tienen NaNs.
# La columna 'Aireacondicionado' tendrá NaNs solo en los períodos que queremos predecir.
# No necesitamos rellenar NaN en el historial aquí, ya que asumimos que no hay.

# --- PASO 4: Ingeniería de Características para sklearn ---
TARGET = 'Aireacondicionado'
df_features = df_final_trimestral.copy()

# 1. Característica de Tiempo (Tendencia)
df_features['trimestre_num'] = np.arange(len(df_features))

# 2. Característica de Estacionalidad (Trimestre del año)
df_features['trimestre_del_año'] = df_features.index.quarter
df_features = pd.get_dummies(df_features, columns=['trimestre_del_año'], prefix='Q')

# 3. Lags de la Variable Objetivo (Producción de Aire Acondicionado)
# Estos lags deben ser creados sobre la serie original (que tiene NaNs al final)
# para que los futuros NaN en los lags se manejen en la predicción recursiva.
df_features['lag_1_ac'] = df_features[TARGET].shift(1)
df_features['lag_4_ac'] = df_features[TARGET].shift(4)

# 4. Lags de Variables Exógenas
# Como Inflacion_Indice y Cotizacion_Dolar no tienen NaNs, sus lags también estarán limpios.
df_features['lag_1_inflacion'] = df_features['Indice general'].shift(1)
df_features['lag_1_dolar'] = df_features['Cotizacion'].shift(1)

# Eliminar las primeras filas que ahora tienen NaN debido a los lags (ej. los primeros 4 trimestres)
# Esto solo aplica al conjunto de entrenamiento. Para la predicción, los NaNs en los lags
# para el futuro serán rellenados por el valor predicho recursivamente.
df_features_clean = df_features.dropna(subset=df_features.columns.drop(TARGET)) # Deja NaNs en TARGET si son futuros

print("\n--- df_features con características de ML (listo para dividir) ---")
print(df_features_clean.head())
print(df_features_clean.tail())
print(df_features_clean.info())
print(f"NaNs en Aireacondicionado después de crear features: {df_features_clean['Aireacondicionado'].isna().sum()}")
print("\n" + "="*80 + "\n")

# --- PASO 5: Dividir en Conjuntos de Entrenamiento y Predicción Futura ---

# El último índice con datos reales de Aireacondicionado.
# En la simulación, asumo que los datos van de 2015 a 2021 (7 años).
# Si tu df_final real es diferente, ajusta esta lógica.
last_valid_idx_prod = df_features_clean[TARGET].last_valid_index()

if last_valid_idx_prod is None:
    print("La columna 'Aireacondicionado' no contiene ningún valor no nulo en el período histórico.")
else:
    # Conjunto de entrenamiento: Todas las filas hasta el último índice válido de producción
    train_df = df_features_clean.loc[:last_valid_idx_prod].copy()

    X_train = train_df.drop(columns=[TARGET])
    y_train = train_df[TARGET]

    print(f"Dimensiones de X_train: {X_train.shape}")
    print(f"Dimensiones de y_train: {y_train.shape}")
    print(f"Última fecha de entrenamiento: {X_train.index.max().strftime('%Y-%m-%d')}")

    # Conjunto de predicción futura: Filas después del último índice válido de producción
    # Estas son las filas donde el TARGET es NaN
    future_predict_df = df_features.loc[df_features.index > last_valid_idx_prod].copy()

    print(f"Dimensiones de future_predict_df (antes de la predicción recursiva): {future_predict_df.shape}")
    print(f"Primer fecha a predecir: {future_predict_df.index.min().strftime('%Y-%m-%d') if not future_predict_df.empty else 'N/A'}")
    print(f"Última fecha a predecir: {future_predict_df.index.max().strftime('%Y-%m-%d') if not future_predict_df.empty else 'N/A'}")

    # --- PASO 6: Entrenar el Modelo de sklearn ---
    print("\n--- Entrenando RandomForestRegressor ---")
    model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
    model.fit(X_train, y_train)
    print("Modelo entrenado exitosamente.")

    # --- PASO 7: Realizar Predicciones Futuras (Recursiva) ---
    if not future_predict_df.empty:
        print("\n--- Realizando predicciones recursivas ---")

        # DataFrame para guardar todas las predicciones (incluyendo los valores reales para los lags)
        # Inicialmente, llenamos con los valores reales conocidos
        all_predictions_series = df_features_clean[TARGET].copy()

        for i, current_quarter_index in enumerate(future_predict_df.index):
            # Obtener las características para el trimestre actual a predecir
            # Necesitamos una copia para evitar SettingWithCopyWarning
            features_for_pred = df_features.loc[[current_quarter_index]].copy()

            # Rellenar los lags de 'Aireacondicionado' con los valores previos (reales o predichos)
            # lag_1_ac: valor del trimestre anterior
            prev_quarter_index = current_quarter_index - pd.DateOffset(months=3)
            if prev_quarter_index in all_predictions_series.index:
                features_for_pred['lag_1_ac'] = all_predictions_series.loc[prev_quarter_index]
            else:
                # Si el trimestre anterior está fuera del rango de all_predictions_series, rellena con 0 o la media del entrenamiento
                features_for_pred['lag_1_ac'] = X_train['lag_1_ac'].mean() # O 0, dependiendo del contexto

            # lag_4_ac: valor del mismo trimestre del año anterior
            prev_year_quarter_index = current_quarter_index - pd.DateOffset(years=1)
            if prev_year_quarter_index in all_predictions_series.index:
                features_for_pred['lag_4_ac'] = all_predictions_series.loc[prev_year_quarter_index]
            else:
                 features_for_pred['lag_4_ac'] = X_train['lag_4_ac'].mean() # O 0

            # Asegurarse de que no queden NaNs en las características (ej. al inicio del future_predict_df)
            # Esto es importante si el primer trimestre a predecir no tiene lags disponibles de X_train.
            features_for_pred = features_for_pred.fillna(method='ffill').fillna(method='bfill').fillna(0) # Ffill/Bfill dentro de la fila, luego 0 si aún hay NaNs

            # Asegurar que el orden de las columnas sea el mismo que el de entrenamiento
            features_for_pred = features_for_pred[X_train.columns]

            # Hacer la predicción
            predicted_value = model.predict(features_for_pred)[0]

            # Asegurar que la producción no sea negativa
            if predicted_value < 0:
                predicted_value = 0

            # Guardar la predicción para ser usada en los lags de futuras predicciones
            all_predictions_series.loc[current_quarter_index] = predicted_value

        # Filtrar solo las predicciones para el período futuro
        future_predictions = all_predictions_series.loc[future_predict_df.index]

        print("\n--- Predicciones de Producción de Aire Acondicionado para el Futuro ---")
        print(future_predictions)

        # --- Visualizar Resultados ---
        plt.figure(figsize=(18, 8))
        plt.plot(y_train.index, y_train, label='Datos de Entrenamiento (Reales)', color='blue')
        plt.plot(future_predictions.index, future_predictions, label='Predicción Futura', color='red', linestyle='--')

        plt.title('Producción Trimestral de Aire Acondicionado con Predicción ML (Random Forest)')
        plt.xlabel('Fecha')
        plt.ylabel('Producción')
        plt.legend()
        plt.grid(True)
        plt.show()

    else:
        print("No hay trimestres futuros para predecir.")

--- df_final con DatetimeIndex y ordenado (¡sin NaN en datos históricos!) ---
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 147 entries, 2013-01-01 to 2025-03-01
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AÑO                147 non-null    int64
 1   Num_Mes            147 non-null    int64
 2   Indice general     147 non-null    float64
 3   Cotizacion         147 non-null    float64
 4   Aireacondicionado  147 non-null    int64
 5   Celulares          147 non-null    int64
 6   Microondas         147 non-null    int64
 7   Televisor          147 non-null    int64
 8   Mod Electr Autom   147 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 11.5 KB
None
             AÑO  Num_Mes  Indice general  Cotizacion  Aireacondicionado  \
Fecha
2013-01-01  2013        1            1.02        4.96              77671
2013-02-01  2013        2            1.06        5.02              90403
2013-03-01  2013        3            1.01        5.10             115115
2013-04-01  2013        4            0.96        5.16              78426
2013-05-01  2013        5            1.26        5.26             108772

            Celulares  Microondas  Televisor  Mod Electr Autom
Fecha
2013-01-01     609990       38094     136796             23797
2013-02-01     703500       32936     207715             26602
2013-03-01     918733       62302     288394             36371
2013-04-01    1083534       46865     268295             39229
2013-05-01    1293334       63549     320475             48379
             AÑO  Num_Mes  Indice general  Cotizacion  Aireacondicionado  \
Fecha
2024-11-01  2024       11            2.43      991.00             198554
2024-12-01  2024       12            2.70     1012.50             216260
2025-01-01  2025        1            2.21     1033.50             102142
2025-02-01  2025        2            2.40     1044.25              67686
2025-03-01  2025        3            3.73     1053.50              51056

            Celulares  Microondas  Televisor  Mod Electr Autom
Fecha
2024-11-01     716903       18428     247424             37837
2024-12-01     633913       17519     189205             17606
2025-01-01     393358       16859     196924             28338
2025-02-01     557773        1140     230022             40067
2025-03-01     545686          97     228300             18566

================================================================================


--- df_final_trimestral (limpio en exógenas, NaN en objetivo futuro) ---
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 49 entries, 2013-01-01 to 2025-01-01
Freq: QS-JAN
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Aireacondicionado  49 non-null     int64
 1   Indice general     49 non-null     float64
 2   Cotizacion         49 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.5 KB
None
            Aireacondicionado  Indice general  Cotizacion
Fecha
2013-01-01             283189        1.030000    5.026667
2013-04-01             298186        1.190000    5.260000
2013-07-01             560664        1.116667    5.630000
2013-10-01             513718        1.283333    6.163333
2014-01-01             101993        4.166667    7.866667
            Aireacondicionado  Indice general   Cotizacion
Fecha
2024-01-01             107992       14.953333   820.833333
2024-04-01             130671        5.863333   873.500000
2024-07-01             325494        3.890000   931.166667
2024-10-01             606597        2.606667   991.666667
2025-01-01             220884        2.780000  1043.750000
NaNs en Aireacondicionado (después de remuestreo): 0
NaNs en Inflacion_Indice (después de remuestreo): 0
NaNs en Cotizacion_Dolar (después de remuestreo): 0

================================================================================


--- df_features con características de ML (listo para dividir) ---
            Aireacondicionado  Indice general  Cotizacion  trimestre_num  \
Fecha
2014-01-01             101993        4.166667    7.866667              4
2014-04-01             153865        1.700000    8.000000              5
2014-07-01             540393        1.523333    8.243333              6
2014-10-01             641770        1.030000    8.430000              7
2015-01-01             187915        0.476667    8.633333              8

              Q_1    Q_2    Q_3    Q_4  lag_1_ac  lag_4_ac  lag_1_inflacion  \
Fecha
2014-01-01   True  False  False  False  513718.0  283189.0         1.283333
2014-04-01  False   True  False  False  101993.0  298186.0         4.166667
2014-07-01  False  False   True  False  153865.0  560664.0         1.700000
2014-10-01  False  False  False   True  540393.0  513718.0         1.523333
2015-01-01   True  False  False  False  641770.0  101993.0         1.030000

            lag_1_dolar
Fecha
2014-01-01     6.163333
2014-04-01     7.866667
2014-07-01     8.000000
2014-10-01     8.243333
2015-01-01     8.430000
            Aireacondicionado  Indice general   Cotizacion  trimestre_num  \
Fecha
2024-01-01             107992       14.953333   820.833333             44
2024-04-01             130671        5.863333   873.500000             45
2024-07-01             325494        3.890000   931.166667             46
2024-10-01             606597        2.606667   991.666667             47
2025-01-01             220884        2.780000  1043.750000             48

              Q_1    Q_2    Q_3    Q_4  lag_1_ac  lag_4_ac  lag_1_inflacion  \
Fecha
2024-01-01   True  False  False  False  410761.0  198525.0        15.526667
2024-04-01  False   True  False  False  107992.0  327094.0        14.953333
2024-07-01  False  False   True  False  130671.0  518116.0         5.863333
2024-10-01  False  False  False   True  325494.0  410761.0         3.890000
2025-01-01   True  False  False  False  606597.0  107992.0         2.606667

            lag_1_dolar
Fecha
2024-01-01   497.916667
2024-04-01   820.833333
2024-07-01   873.500000
2024-10-01   931.166667
2025-01-01   991.666667
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45 entries, 2014-01-01 to 2025-01-01
Freq: QS-JAN
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Aireacondicionado  45 non-null     int64
 1   Indice general     45 non-null     float64
 2   Cotizacion         45 non-null     float64
 3   trimestre_num      45 non-null     int64
 4   Q_1                45 non-null     bool
 5   Q_2                45 non-null     bool
 6   Q_3                45 non-null     bool
 7   Q_4                45 non-null     bool
 8   lag_1_ac           45 non-null     float64
 9   lag_4_ac           45 non-null     float64
 10  lag_1_inflacion    45 non-null     float64
 11  lag_1_dolar        45 non-null     float64
dtypes: bool(4), float64(6), int64(2)
memory usage: 3.3 KB
None
NaNs en Aireacondicionado después de crear features: 0

================================================================================

Dimensiones de X_train: (45, 11)
Dimensiones de y_train: (45,)
Última fecha de entrenamiento: 2025-01-01
Dimensiones de future_predict_df (antes de la predicción recursiva): (0, 12)
Primer fecha a predecir: N/A
Última fecha a predecir: N/A

--- Entrenando RandomForestRegressor ---
Modelo entrenado exitosamente.
No hay trimestres futuros para predecir.